{% extends "index.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<div class="standard-form-container">
    <div class="standard-form-wrapper">
        <div class="standard-form-header">
            <h3>Create New Employee:</h3>
        </div>
        <form action="{{ url_for('addEmployee') }}" method="POST" class="standard-form-form">
            {{ form.hidden_tag() }}
            <div class="form-group row" style="width: 100%;">
                <label for="name" class="col-sm-4 col-form-label text-md-right" style="padding-top: 11px;">Name</label>
                <div class="col-sm-8">
                    <input type="text" id="name" class="standard-form-entry" name="name" placeholder="Enter Name" required autofocus>
                </div>
            </div>
            <div class="form-group row" style="width: 100%;">
                <label for="username" class="col-sm-4 col-form-label text-md-right" style="padding-top: 11px;">Username</label>
                <div class="col-sm-8">
                    <input type="text" id="username" class="standard-form-entry" name="username" placeholder="Enter Username" required autofocus>
                </div>
            </div>
            <div class="form-group row" style="width: 100%;">
                <label for="email" class="col-sm-4 col-form-label text-md-right" style="padding-top: 11px;">Email</label>
                <div class="col-sm-8">
                    <input type="text" id="email" class="standard-form-entry" name="email" placeholder="Enter Email" required autofocus>
                </div>
            </div>
            <div class="form-group row" style="width: 100%;">
                <label for="phone" class="col-sm-4 col-form-label text-md-right" style="padding-top: 11px;">Phone Number</label>
                <div class="col-sm-8">
                    <input type="text" id="phone" class="standard-form-entry" name="phone" placeholder="Enter Phone Number" required autofocus>
                </div>
            </div>
            <div class="form-group row" style="width: 100%;">
                <label for="password" class="col-sm-4 col-form-label text-md-right" style="padding-top: 11px;">Password</label>
                <div class="col-sm-8">
                    <input type="password" id="password" class="standard-form-entry" name="password" placeholder="Enter Password" required>
                </div>
            </div>

            <div class="standard-form-button-container">
                <button type="submit" class="standard-form-button">Create New Employee Account</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
