<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LeedsRide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/default-css.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <img src="/static/assets/logo.png" style="width:260px;height:35px;">
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul>
                            <li class="sidebar-button-container">
                              <a href="{{ url_for('newBooking') }}"><button type="button" class="sidebar-button">Create Booking</button></a>
                            </li>
                            <li class="sidebar-button-container">
                              <a href="{{ url_for('addBikes') }}"><button type="button" class="sidebar-button">Add Bikes</button></a>
                            </li>
                            <li class="sidebar-button-container">
                              <a href="{{ url_for('addUser') }}"><button type="button" class="sidebar-button">Add User</button></a>
                            </li>
                            <li class="sidebar-button-container">
                              <a href="{{ url_for('addEmployee') }}"><button type="button" class="sidebar-button">Add Employee</button></a>
                            </li>
                            <li class="sidebar-button-container">
                              <a href="{{ url_for('addLocation') }}"><button type="button" class="sidebar-button">New Location</button></a>
                            </li>
                            <li class="sidebar-button-container">
                              <a href="{{ url_for('locationStats') }}"><button type="button" class="sidebar-button">Location Storage</button></a>
                            </li>
                            <li class="sidebar-button-container">
                                <a href="/logout">
                                  <button  type="button" class="sidebar-button">Logout</button>
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 clearfix">
                        <div class="nav-btn pull-left">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>

                <!-- This is going to be changed to the current users username and their image -->
                <div class="clearfix header-name">
                    <div class="float-right">
                        <a href="#">{{name}}</a>
                    </div>
                </div>

            </div>

            <!-- header area end -->
            <!-- page title area start -->
                    <!-- page title area end -->
            <!-- <div class="main-content-inner">

            </div> -->
        </div>
        <!-- main content area end -->

        {% block content %}{% endblock %}

        <!-- footer area start-->

        <!-- footer area end-->
    </div>
    <!-- page container area end -->
    <!-- offset area start -->
    <div class="offset-area">
        <div class="offset-close"><i class="ti-close"></i></div>
        <ul class="nav offset-menu-tab">
        </ul>

    </div>
    <!-- offset area end -->
    <!-- jquery latest version -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- bootstrap 4 js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>

    <!-- others plugins -->
    <script src="static/js/scripts.js"></script>
</body>

</html>
