{% extends "index.html" %}

{% block content %}

<div class="standard-form-container">
    <div class="standard-form-wrapper">
        <div class="standard-form-header">
            <h3>New Booking:</h3>
        </div>
        <form class="standard-form-form">
        {{ form.hidden_tag() }}
            <div class="form-group row" style="width: 100%;">
                <!-- <label for="email" class="col-sm-4 col-form-label text-md-right" style="padding-top: 11px;">Email</label>
                <div class="col-sm-8">
                    <input type="text" id="email" class="standard-form-entry" name="email" placeholder="Enter Email" required autofocus>
                </div> -->
                <div class="form-group">
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid", placeholder="Enter Email") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control", placeholder="Email") }}
                    {% endif %}
                </div>
            </div>
            <div class="form-group row" style="width: 100%;">
                <label for="phone" class="col-sm-4 col-form-label text-md-right" style="padding-top: 11px;">Phone Number</label>
                <div class="col-sm-8">
                    <input type="integer" id="phone" class="standard-form-entry" name="phone" placeholder="Enter Phone Number" required autofocus>
                </div>
            </div>

            <div class="form-group row" style="width: 100%;">
                <label for="numbikes" class="col-sm-4 col-form-label text-md-right" style="padding-top: 11px;">Number of Bikes</label>
                <div class="col-sm-8">
                    <input type="integer" id="numbikes" class="standard-form-entry" name="numbikes" placeholder="Enter Number of Bikes" required autofocus>
                </div>
            </div>

            <div class="form-group row" style="width: 100%;">
                <label for="date" class="col-sm-4 col-form-label text-md-right" style="padding-top: 11px;">Date</label>
                <div class="col-sm-8">
                    <input type="date" class="standard-form-entry" name="date" class="form-control" required autofocus>
                </div>
            </div>

            <div class="form-group row" style="width: 100%;">
                <label for="stime" class="col-sm-4 col-form-label text-md-right" style="padding-top: 11px;">Start Time</label>
                <div class="col-sm-8">
                    <input type="time" class="standard-form-entry" name="stime" class="form-control" required autofocus>
                </div>
            </div>

            <div class="form-group row" style="width: 100%;">
                <label for="etime" class="col-sm-4 col-form-label text-md-right" style="padding-top: 11px;">End Time</label>
                <div class="col-sm-8">
                    <input type="time" class="standard-form-entry" name="etime" class="form-control" required autofocus>
                </div>
            </div>

            <div class="form-group row" style="width: 100%;">
                <label for="Start Location" class="col-sm-4 col-form-label text-md-right" style="padding-top: 11px;">Start Location</label>
                <div class="col-sm-8">
                    {{ form.slocation }}
                    <!-- <input type="text" id="slocation" class="standard-form-entry" name="slocation" placeholder="Enter Start Location" required autofocus> -->
                </div>
            </div>

            <div class="form-group row" style="width: 100%;">
                <label for="End Location" class="col-sm-4 col-form-label text-md-right" style="padding-top: 11px;">End Location</label>
                <div class="col-sm-8">
                    {{ form.elocation }}
                    <!-- <input type="text" id="elocation" class="standard-form-entry" name="elocation" placeholder="Enter End Location" required autofocus> -->
                </div>
            </div>

            <div class="standard-form-button-container">
                <button type="submit" class="standard-form-button">Create New Booking</button>
            </div>
        </form>
    </div>
</div>





{% endblock content %}
