<!doctype html>
<html lang="en">
    <head>

    </head>

    <body>
        <p>{{ datebooked }}</p>
        <p>Booking {{ booking }}</p>
        <p>{{ name }}</p>
        <p>{{ useremail }}<br/><br/><br/><br/></p>

        <h4>Please hold on to this receipt as a proof of booking.</h4>
        <hr>

        <p><br/>Your booking is from {{starttime}} to {{endtime }}</p>

        <p><br/><b>Time:</b>              {{time}} minutes</p>
        <p><br/><b>Number of bikes:</b>   {{numbikes}}</p>
        <p><br/><b>Late fee:</b>          {{latefee}}<br/></p>

        <hr>

        <p><br/><b>SUM:</b>          {{total}}<br/><br/></p>

        <hr>

    </body>
</html>
