<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LeedsRide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div class="login-container">
        <div class="login-wrapper" >
            <div class="login-header">
                <img src="static/assets/logo.png" style="width:297px;height:51px">
                <h5 style="color: #fff;">Password Reset</h5>
            </div>
            <form class="login-form" action="/resetRequest" method="POST">
            <p>You will recieve an email containing a link to reset your password for your account.</p>
                <div class="form-group row" style="width: 100%;">
                    <label for="email" class="col-sm-4 col-form-label text-md-right" style="padding-top: 11px;">Email Address</label>
                    <div class="col-sm-8">
                        <input type="text" id="email" class="login-entry" name="email" placeholder="Enter email" required autofocus>
                    </div>
                </div>

                <div class="login-button-container" style="margin-top: 10px;">
                    <input type="submit" value="Request password resets" class="login-button"></input>
                </div>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>
