<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LeedsRide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <div class="login-container">
        <div class="login-wrapper">
            <div class="login-header">
                <img src="static/assets/logo.png" style="width:297px;height:51px">
                <h5 style="color: #fff;">Employee Login</h5>
            </div>
            <form class="login-form" action="/login" method="POST">
                <div class="form-group row" style="width: 100%;">
                    <p style="color:red;">{{ message }}</p>
                    <label for="username" class="col-sm-3 col-form-label text-md-right" style="padding-top: 11px;">Username</label>
                    <div class="col-sm-9">
                        <input type="text" id="username" class="login-entry" name="username" placeholder="Enter username" required autofocus>
                    </div>
                </div>
                <div class="form-group row" style="width: 100%;">
                    <label for="password" class="col-sm-3 col-form-label text-md-right" style="padding-top: 11px;">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="password" class="login-entry" name="password" placeholder="Enter password" required>
                    </div>
                </div>
                <div class="login-toolchain">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="remember-me-checkbox" for="ckb1">
                            Remember me
                        </label>
                    </div>
                    <div>
                        <a href="/resetPassword" class="forgot-pass-txt">
                            Forgot Password?
                        </a>
                    </div>
                </div>
                <div class="login-button-container" action="/login" method="POST">
                    <!-- <button href='/login' type="submit" class="login-button">Login</button> -->
                    <input type="submit" value="Log in" class="login-button"></input>
                </div>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>
